.author-span {
  font-weight: 100;
}

.collaborators {
  font-weight: 100;
}

.collaborator {
  color: black;
  margin: 0px;
  padding: 0px;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  width: 200px;
}

.card {
  align-items: center;
}

.card-header {
  width: 100%;
}
